@charset "UTF-8";

/* XS */
@media (max-width: 576px){

}

@media (max-height: 420px){
    #menu-cookie {
        height: 30%;
        position: absolute;
        top: 8%;
        left: 10%;
        
    }
}
/* SM */
@media (max-width: 768px){
    header {
        display: none;
    }
    .btn-menu-mob {
        display: flex;
    }
}

/* MD */
@media ((min-width: 768px) and (max-width: 992px)){
    header {
        display: flex;
    }
    .btn-menu-mob {
        display: none;
    }
}

/* LG */
@media (max-width: 1200px){
    
}